



*{
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.2em;
  --green-clear: #c5ccb8;
  --green-dark: #557064;
  --red: #9a4f50;
  --orange: #c28d75;
  --blue: #416aa3;
  --black: #000000;
  --purple: #8b5580;
  --golden: #be955c;
  background-image:
    url("background.png");
    background-color: var(--green-clear);
    background-blend-mode: multiply;
  align-items: center;
  color: var(--green-dark);
}



.header{
  margin : 30px auto;
  font-family: 'Lobster', sans-serif;
  font-size: 2em;
  color: var(--red);
  min-width: 250px;
  max-width: 45%;
}

.container {
  background-image:
    url("background.png");
    background-color:var(--green-clear);
    background-blend-mode: multiply;
  box-shadow: 0.2em 0.4em black;
  margin: 0 auto;
  border : solid var(--green-dark) 0.7em;
  border-radius: 2em;
  padding: 10px 15px;
  margin-bottom: 20px;
  max-width: 33%;
  min-width: 15em;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 33% 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "result result result result"
    "input input input clear"
    "seven eight nine plus"
    "four five six minus"
    "one two three multiply"
    "zero zero dot divide"
    "equal equal equal del";
}

.button{
  border: solid 8px var(--green-dark);
  font-weight: bolder;
  background-image: none;
  border-radius: 25px;
  box-shadow: 0em 0.2em black;
  min-height: 50px;
  vertical-align: middle;
  justify-content: center;
  display: flex;
}

.button:hover{
  box-shadow: none;
  color: var(--orange);
  transition: 0.1s;
}

.result {
  box-shadow: inset -0.05em -0.1em black;
  background-color: var(--blue);
  background-blend-mode: multiply;
  background-image: inherit;
  grid-area: result;
  height: 2em;
  border-radius: 25px;
  justify-content: right;
  display: flex;
  font-size: 2.5em;
  padding: 0px 0.1em;
  color: var(--green-clear);
}

.input {
  box-shadow: inset -0.1em -0.2em black;
  grid-area: input;
  background-color: var(--red);
  background-blend-mode: multiply;
  height: 2em;
  border-radius: 25px;
  justify-content: right;
  display: flex;
  padding: 0px 0.5em;
  color: var(--green-clear);
}

.one{
  grid-area:one;
}

.two{
  grid-area:two;
}

.three{
  grid-area:three;
}

.four{
  grid-area:four;
}

.five{
  grid-area:five;
}

.six{
  grid-area:six;
}

.seven{
  grid-area:seven;
}

.eight{
  grid-area:eight;
}

.nine{
  grid-area:nine;
}

.zero{
  grid-area:zero;
}

.oper{
  border: solid 6px var(--orange);
  color: var(--blue);
}

.dot {
  grid-area:dot;
}

.plus {
  grid-area:plus;
}

.minus {
  grid-area:minus;
}

.multiply {
  grid-area:multiply;
}

.divide {
  grid-area:divide;
}

.equal {
  font-size: 2em;
  grid-area:equal;
  box-shadow: 0em 0.1em black;
  border: solid 6px var(--blue);
  color: var(--orange);
}

.del {
  font-size: 2em;
  grid-area:del;
  box-shadow: 0em 0.1em black;
}
