* {
  --green-clear         : #c5ccb8;
  --green-dark          : #557064;
  --red                 : #9a4f50;
  --orange              : #c28d75;
  --blue                : #416aa3;
  --black               : #000000;
  --purple              : #8b5580;
  --golden              : #be955c;
  color                 : var(--green-dark);
  background-image      : url("background.png");
  background-color      : var(--green-dark);
  background-blend-mode : multiply;
  background-repeat     : repeat;
  text-align            : center;
  align-items           : center;
  font-family           : 'Lexend Deca',
                          sans-serif;
  font-size             : 1.2em;
}

.header {
  min-width   : 250px;
  max-width   : 45%;
  margin      : 30px auto;
  color       : var(--orange);
  font-family : 'Lobster',
                sans-serif;
  font-size   : 3.5em;
}

.container {
  display               : grid;
  min-width             : 15em;
  max-width             : 33%;
  margin                : 0 auto;
  margin-bottom         : 20px;
  padding               : 10px 15px;
  border                : solid var(--red) .7em;
  border-radius         : 2em;
  background-color      : var(--green-clear);
  background-blend-mode : multiply;
  box-shadow            : .2em .4em 0.1em var(--black);
  grid-gap              : 5px;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows    : 33% 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas   : "result result result result"
                          "input input input clear"
                          "seven eight nine plus"
                          "four five six minus"
                          "one two three multiply"
                          "zero zero dot divide"
                          "equal equal equal del";
}

.button {
  display          : flex;
  min-height       : 50px;
  color            : var(--green-clear);
  border           : solid 8px var(--green-dark);
  border-radius    : 25px;
  background-image : none;
  background-color : var(--green-dark);
  box-shadow       : .1em .1em var(--black);
  vertical-align   : middle;
  font-weight      : bolder;
  justify-content  : center;
}

.result {
  display               : flex;
  height                : 2em;
  padding               : 0px 0.1em;
  color                 : var(--green-clear);
  border-radius         : 25px;
  background-image      : none;
  background-color      : var(--blue);
  background-blend-mode : multiply;
  box-shadow            : inset -.05em -.1em var(--black);
  font-size             : 2.5em;
  justify-content       : flex-end;
  grid-area             : result;
}

.input {
  display               : flex;
  height                : 2em;
  padding               : 0 .5em;
  color                 : var(--green-clear);
  border-radius         : 25px;
  background-image      : none;
  background-color      : var(--red);
  background-blend-mode : multiply;
  box-shadow            : inset -.1em -.2em var(--black);
  justify-content       : flex-end;
  grid-area             : input;
}

.one {
  grid-area : one;
}

.two {
  grid-area : two;
}

.three {
  grid-area : three;
}

.four {
  grid-area : four;
}

.five {
  grid-area : five;
}

.six {
  grid-area : six;
}

.seven {
  grid-area : seven;
}

.eight {
  grid-area : eight;
}

.nine {
  grid-area : nine;
}

.zero {
  grid-area : zero;
}

.oper {
  color            : var(--blue);
  border           : solid 6px var(--orange);
  background-color : var(--orange);
}

.dot {
  grid-area : dot;
}

.plus {
  grid-area : plus;
}

.minus {
  grid-area : minus;
}

.multiply {
  grid-area : multiply;
}

.divide {
  grid-area : divide;
}

.del {
  padding    : 10px;
  box-shadow : 0em 0.1em var(--black);
  font-size  : 1em;
  grid-area  : del;
}

.equal {
  color      : var(--blue);
  border     : solid 6px var(--blue);
  box-shadow : 0em 0.1em var(--black);
  font-size  : 2em;
  grid-area  : equal;
}

.clicked {
  color      : var(--orange);
  box-shadow : inset .07em .1em var(--black);
  transition : 0.1s;
}
